@{
    ViewData["Title"] = "Home Page";
}

<h2>Exercises:</h2>
<br />
<a class="btn btn-primary" asp-area="" asp-controller="Receipt" asp-action="Receipt">ExerciseOne</a>
<a class="btn btn-secondary" asp-area="" asp-controller="Report" asp-action="Report">ExerciseTwo</a>


